:root {
  --heading-background-color: #f06;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvatica, san-serif;
  --padding: 1rem;
  --border: 1px solid  rgb(0 0 0 / 0.1);

h1 {
  background-color: var(--#FFFFFF);
  color: var(--#7FA9C7);
  font-family: var(--#837099);
  padding: var(--#445552c);
}

aside {
  margin: 10px auto;
  padding: var(--padding);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {padding: 0;}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}




